apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "faaast-service.fullname" . }}-config
  labels:
    {{- include "faaast-service.labels" . | nindent 4 }}
  data:
    config.json: |
      {
        "persistence": {
          "@class": "{{ .Values.berger-service.persistence.class }}"
        },
        "messageBus": {
          "@class": "{{ .Values.berger-service.messageBus.class }}",
          "host": "{{ .Values.berger-service.messageBus.host }}",
          "user": "{{ .Values.berger-service.messageBus.user }}",
          "password": "{{ .Values.berger-service.messageBus.password }}"
        },
        "endpoints": [
          {
            "@class": "{{ (index .Values.berger-service.endpoints 0).class }}",
            "port": {{ (index .Values.berger-service.endpoints 0).port }},
            "corsEnabled": {{ (index .Values.berger-service.endpoints 0).corsEnabled }},
            "sslEnabled": {{ (index .Values.berger-service.endpoints 0).sslEnabled }}
          }
        ]
      }